/* Шрифты
================================================================*/
@font-face {
	font-family: 'HelveticaNeueLTPro';
	src: url('../fonts/HelveticaNeueLTPro-Lt.eot');
    src: local('☺'), 
    url('../fonts/HelveticaNeueLTPro-Lt.woff') format('woff'), 
    url('../fonts/HelveticaNeueLTPro-Lt.ttf') format('truetype'), 
    url('../fonts/HelveticaNeueLTPro-Lt.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueLTPro';
	src: url('../fonts/HelveticaNeueLTPro-Md.eot');
    src: local('☺'), 
    url('../fonts/HelveticaNeueLTPro-Md.woff') format('woff'), 
    url('../fonts/HelveticaNeueLTPro-Md.ttf') format('truetype'), 
    url('../fonts/HelveticaNeueLTPro-Md.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueLTPro-Roman';
	src: url('../fonts/HelveticaNeueLTPro-Roman.eot');
    src: local('☺'), 
    url('../fonts/HelveticaNeueLTPro-Roman.woff') format('woff'), 
    url('../fonts/HelveticaNeueLTPro-Roman.ttf') format('truetype'), 
    url('../fonts/HelveticaNeueLTPro-Roman.svg') format('svg');
}
@font-face {
	font-family: 'Merriweather';
	src: url('../fonts/Merriweather-LightItalic.eot');
    src: local('☺'), 
    url('../fonts/Merriweather-LightItalic.woff') format('woff'), 
    url('../fonts/Merriweather-LightItalic.ttf') format('truetype'), 
    url('../fonts/Merriweather-LightItalic.svg') format('svg');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Light.eot');
    src: local('☺'), 
    url('../fonts/Montserrat-Light.woff') format('woff'), 
    url('../fonts/Montserrat-Light.ttf') format('truetype'), 
    url('../fonts/Montserrat-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.eot');
    src: local('☺'), 
    url('../fonts/Montserrat-Regular.woff') format('woff'), 
    url('../fonts/Montserrat-Regular.ttf') format('truetype'), 
    url('../fonts/Montserrat-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.eot');
    src: local('☺'), 
    url('../fonts/Roboto-Regular.woff') format('woff'), 
    url('../fonts/Roboto-Regular.ttf') format('truetype'), 
    url('../fonts/Roboto-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

/* Settings
================================================================*/
:root {
    --menu-dark-color: #010101;
    --menu-light-color: #989696;
    --section-dark-color: #1d1e1f;
    --section-light-color: #898888;
    --timeline-white-color: #fefefe;
    --timeline-gray-color: #b7b7b7;
    --team-dark-color: #464646;
    --team-light-color: #b3b3b3;
    --darksection-white-color: #ffffff;
    --darksection-gray-color: #b3b3b3;
    --services-gray-color: #383838;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.page {
    overflow: hidden;
    position: relative;
}
.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
/* section
================================================================*/
.section {
    width: 100%;
}
.section__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 40px 0;
}
.section__title {
    font-family: 'HelveticaNeueLTPro';
    font-weight: 300;
    font-size: 34px;
    color: var(--section-dark-color);
    padding-bottom: 3px;
}
.section__subtitle {
    font-family: 'Merriweather';
	font-weight: 300;
    font-style: italic;  
    font-size: 16px;
    color: var(--section-light-color);    
}
/* Header
================================================================*/
.header {   
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}
.header__inner {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 770px;
    height: 54px;
    margin: 0 auto;
    padding: 0 70px;
}

/* Logo
================================================================*/
.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}
.logo img{
    display: block;
}
.topnav {
    display: flex;
    align-items: center;
    width: 100%;
    transition: left .2s linear;
}
.topnav__link {
    position: relative;
    font-family: 'Montserrat';
    font-weight: 400;  
    font-size: 14px;
    line-height: 1.3;
    color: var(--menu-light-color);
    margin: 0 22px;
    transition: color .2s linear;
    -webkit-tap-highlight-color: transparent;
}
.topnav__link::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 1px;
    width: 0;
    background-color: var(--menu-dark-color);
    transition: width .2s linear;
}
.topnav__link:hover::after, .topnav__link:focus::after {
    width: 100%;
}
.topnav__link:nth-child(4) {
    margin-left: auto;
}
.topnav__link:last-child {
    margin: 0 0 0 22px;
}
.topnav__link:hover,
.topnav__link:active,
.topnav__link:focus {
    color: var(--menu-dark-color);
}
.topnav.active {
    left: 0;
}
/* burger
================================================================*/
.burger {
    position: relative;
    display: none;
    width: 44px;
    height: 24px;
    margin-left: auto;
    margin-top: 15px;
    margin: -3px 5px 0 auto;
    border: 0;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.burger__line {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--menu-dark-color);
    transition: transform .2s linear;
}
.burger__line:nth-child(1) {
    position: absolute;
    top: 0;
}
.burger__line:nth-child(3) {
    position: absolute;
    bottom: 0;
}
.burger.active .burger__line:nth-child(2){
    transform: scaleX(0);
    opacity: 0;
  }
  .burger.active .burger__line:nth-child(1){
    transform: rotate(45deg) translate(14px);
  }
  .burger.active .burger__line:nth-child(3){
    transform: rotate(-45deg) translate(14px);
  }
/* intro
================================================================*/
.section--intro {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.intro {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 570px;
    height: 100vh;
    margin: 0 auto;
}
.intro__title {
    font-family: 'HelveticaNeueLTPro';
    font-weight: 300;
    font-size: 45px;
    color: var(--section-dark-color);
}
.intro__slogan {
    font-family: 'Merriweather';
	font-weight: 300;
    font-style: italic;  
    font-size: 16px;   
    margin-bottom: 45px;
    color: var(--section-light-color); 
}

/* buttons
================================================================*/
.btn {
    display: block;
    width: 187px;
    height: 56px;
    outline: none;
    font-family: 'Montserrat';
    font-weight: 400;  
    cursor: pointer;
    transition: background-color .2s linear, color .2s linear;
    -webkit-tap-highlight-color: transparent;
}
.intro__btn {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;    
}
.intro__btn:hover {
    background-color: #121212;
    color: #fff; 
}

/* go down link
================================================================*/
.godown {
    position: absolute;
    left: calc(50% - 5px);
    right: auto;
    z-index: 1;
    bottom: 5%;
    width: 5px;
}
.godown img {
    display: block;
    margin-left: -3px;    
}

/* timeline
================================================================*/
.section--timeline {
    background-color: #1d1d1d;
    background-image: url(../img/about-bg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100vw;
}
.timeline {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 500px;
    padding-top: 150px;
    padding-bottom: 500px;    
}
.timeline::before {
    content: "";
    display: block;
    height: 100%;
    width: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% - 5px);
    right: auto;
    background-color: #fff;
}
.timeline__item{
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0 25px;
}
.timeline_inner {
    width: 50%;
}
.timeline__item:nth-child(even) {
    justify-content: flex-end;
}
.timeline__item:nth-child(even) .timeline_inner {
    padding-left: 70px;
}
.timeline__item:nth-child(odd) .timeline_inner {
    padding-right: 70px; 
    text-align: right;
}
.timeline_inner::before{
    content: "";
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 5px solid #fff;
    background-color: #1d1d1d;
}
.timeline__item:nth-child(even) > .timeline_inner::before {    
    top: 0;
    left: calc(50% - 15px);
    
}
.timeline__item:nth-child(odd) > .timeline_inner::before {
    top: 0;
    right: calc(50% - 11px);      
}
.timeline__item:nth-child(3) > .timeline_inner::before {
    width: 44px;
    height: 44px;
    right: calc(50% - 19px);     
}
.timeline__date {
    font-family: 'HelveticaNeueLTPro-Roman'; 
    font-size: 48px;
    line-height: 0.8;
    color: var(--timeline-white-color); 
    margin-bottom: 25px;   
}
.timeline__text {
    font-family: 'Montserrat';
    font-weight: 300;
    line-height: 1.466666;    
    color: var(--timeline-gray-color);
}

/* Team
================================================================*/
.section--team {
    background-color: #fff;
    background-image: url(../img/team-bg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 225px
}
.team {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 90px 110px;
}
.team__item {
    display: flex;
    flex-direction: column;
    align-items: center;    
    font-family: 'HelveticaNeueLTPro-Roman';
    text-align: center;
}
.team__item:nth-child(odd) {
    margin-top: 90px;
}
.team__photo {
    display: flex;
    justify-content: center;
    max-width: 169px;
    margin-bottom: 25px;
}
.team__photo img{
    width: 100%;
    display: block;
}
.team__name {
    font-size: 24px;
    color: var(--team-dark-color);
}
.team__post {
    font-size: 13px;
    color: var(--team-light-color);
    margin-bottom: 20px;
}

/* Social
================================================================*/
.social {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social__item {
    margin: 0 6px;
}
.social__icon {
    width: 22px;
    height: 22px;    
    fill: #e4e4e4;
    transition: fill .2s linear;
}
.social__item .social__icon:hover,
.social__item .social__icon:focus {
    fill: var(--team-dark-color);
}

/* Services
================================================================*/
.section--services {
    background-color: #181818;
    padding-top: 60px;
    padding-bottom: 150px;
}
.section__header--services  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}
.section__title--services {
    font-family: 'HelveticaNeueLTPro';
    font-weight: 300;
    font-size: 34px;
    color: var(--section-dark-color);
    padding-bottom: 3px;    
    color: #fff;
}
.section__subtitle--services {
    font-family: 'Merriweather';
	font-weight: 300;
    font-style: italic;  
    font-size: 16px;    
    color: #777777;
}
.services {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 200px;
}
.services__item {
    max-width: 350px;
    text-align: center;
    margin-right: 15px;
}
.services__item:last-child {
    margin-right: 0;
}
.services__img {
    width: 100%;
    max-width: 172px;
    margin-bottom: 40px;
}
.services__name {
    font-family: 'HelveticaNeueLTPro';
    font-weight: 300;
    font-size: 26px;
    margin-bottom: 30px;
    color: #fff;
}
.services__text {
    font-family: 'HelveticaNeueLTPro';
    font-weight: 300;
    font-size: 18px;
    color: #686868;
}

/* blog
================================================================*/
.section--blog {
    background-color: #181818;
    background-image: url(../img/blog-bg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    height: 688px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn--blog {
    font-family: 'HelveticaNeueLTPro';
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;    
    width: 220px;
    height: 65px;
    background-color: #fff;
    border: 1px solid transparent;
    -webkit-tap-highlight-color: transparent;
}
.btn--blog:hover {
    background-color: #121212;
    color: #fff;     
}

/* Contacts
================================================================*/
.contacts {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    max-width: 550px;
    height: 50px;
    margin: 60px auto 0;
}
.contacts__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'HelveticaNeueLTPro';
    font-weight: 300;
    font-size: 12px;    
    color: var(--section-light-color);
}
.contacts__icon {
    fill: #323232;
    margin-bottom: 10px;
    transition: transform .2s linear;
}
.contacts__link:hover {
    text-decoration: underline;
}
.contacts__link:hover .contacts__icon {
    transform: scale(1.1, 1.1);
}

/* Form
================================================================*/
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 770px;
    margin: 150px auto;
}
.form__field {
    height: 50px;
    font-family: 'HelveticaNeueLTPro';
    font-weight: 300;
    font-size: 15px;    
    color: var(--section-dark-color);
    text-align: center;
    outline: none;
    border-radius: 0;
    border: 1px solid var(--section-light-color); 
    -webkit-border-radius: 0;
    margin-bottom: 20px;
}
.form__field:last-child { 
    margin-bottom: 20px;
}
.form__field::placeholder, .form__message::placeholder {
    color: var(--section-light-color);    
}
.form__field:focus {
    border: 1px solid var(--section-dark-color); 
}
.form__message {
    font-family: 'HelveticaNeueLTPro';
    font-weight: 300;
    font-size: 15px;    
    color: var(--section-dark-color);   
    text-align: left;
    resize: vertical;
    height: 195px;
    padding: 20px;
    outline: none;
    border-radius: 0;
    border: 1px solid var(--section-light-color); 
    -webkit-border-radius: 0;
    margin-bottom: 20px;
}
.form__message:focus {
    border: 1px solid var(--section-dark-color); 
}
.form__button {
    height: 50px;
    border: 1px solid #161616;
    background-color: #161616;
    color: #fefefe;
    outline: none;
    font-family: 'HelveticaNeueLTPro';
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    transition: all .2s linear;    
}
.form__button:hover {
    border: 1px solid #161616;
    background-color: #fefefe;
    color: #161616;    
}
.copyright {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    font-family: 'HelveticaNeueLTPro-Roman'; 
    font-size: 14px;   
    color: #3b3b3b; 
    text-align: center;
}
/* @Media запросы
================================================================*/
@media (max-width: 770px) {
    /* header */
    .header__inner {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 85px;
        padding: 0 15px;
        background-color: #fff;
    }
    /* Topnav */
    .logo {
        top: 15px;
        left: 45px;
        -webkit-tap-highlight-color: transparent;
    }
    .topnav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 85px;
        left: -50%;
        z-index: 3;
        width: 50%;
        height: calc(100vh - 85px);
        background-color:#171717ed;
        color: #eee;
    }
    .topnav__link, 
    .topnav__link:nth-child(4),
    .topnav__link:last-child {
        margin: 16px 22px;    
    }
    .burger {
        display: block;
    }
    /* Timeline */
    .timeline {
        padding-top: 100px;
        padding-bottom: 300px;
    }
    .timeline__item {
        padding: 0;
    }
    .timeline__item:nth-child(odd) .timeline_inner {
        padding-right: 45px;
    }
    .timeline__item:nth-child(even) .timeline_inner {
        padding-left: 45px;
    } 
    .timeline__date {
        margin-bottom: 15px;
        font-size: 36px;
    }
    .timeline__text {
        font-size: 15px;
    }
    /* Team */
    .team {
        padding: 0 15px;
    }
    .team__item {
        width: 33.3333%;
        margin-right: 30px;
    }
    .team__item:last-child {
        margin-right: 0;
    }
    .team__item:nth-child(odd) {
        margin-top: 50px;
    }
    .team__photo {
        margin-bottom: 15px;
    }
    .team__post {
        margin-bottom: 15px;
    }    
    /* Services */
    .section--services {
        padding-bottom: 50px;
    }
    .services {
        margin-top: 100px;
    }
    .services__img {
        margin-bottom: 20px;
    }
    .services__name {
        margin-bottom: 20px;
        font-size: 21px;
    }
    .services__text {
        font-size: 16px;
    }
    /* Form */
    .form {
        margin: 50px auto;
    }
}
@media (max-width: 580px) {
    /* Topnav */
    .logo {
        top: 15px;
        left: 45px;
    }
    .topnav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 85px;
        left: -65%;
        z-index: 3;
        width: 65%;
        height: calc(100vh - 85px);
        background-color:#171717ed;
        color: #eee;
    }
    /* Timeline */
    .timeline {
        padding-top: 50px;
    }
    .timeline::before {
        left: 5%;
    }
    .timeline_inner {
        width: 100%;
        
    }
    .timeline__item:nth-child(odd) .timeline_inner,
    .timeline__item:nth-child(even) .timeline_inner {
        padding: 0 0 0 16%;
        text-align: left;
        margin-bottom: 15px;
    }  
    .timeline__item:nth-child(odd) .timeline_inner::before,
    .timeline__item:nth-child(even) .timeline_inner::before {
        left: calc(5% - 10px);
        top: 0;
    }

    .timeline__item:nth-child(3) .timeline_inner::before {
        width: 36px;
        height: 36px;        
        left: calc(5% - 15px);
        top: 0;
    }
    /* Team */
    .team {
        flex-direction: column;
        align-items: center;
    }
    .team__item{
        width: 100%;
        margin: 0 0 30px 0;
    }
    .team__item:last-child {
        margin: 0;
    }
    /* Services */
    .services {
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
    }
    .services__item {
        margin: 0 0 30px 0;
    }
    .services__item:last-child {
        margin: 0;
    }
    /* Contacts */
    .contacts {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .contacts__link {
        margin-bottom: 30px;
        font-size: 16px;
    }
    .contacts__link:last-child {
        margin: 0;
    }
}
@media (orientation: landscape) and (max-width: 770px) {
    /* Пункты меню */
    .topnav__link, .topnav__link:nth-child(4), .topnav__link:last-child {
        margin: 8px 22px;
    }
    .intro__slogan {
        margin-bottom: 25px;
    }
}
/* Font TEST
================================================================*/
/* .font-test {
    border: 1px solid red;
}

.HelveticaNeueLTPro-lt {
    font-family: 'HelveticaNeueLTPro';
    font-weight: 300;
}
.HelveticaNeueLTPro-md {
    font-family: 'HelveticaNeueLTPro';
    font-weight: 500;
}
.HelveticaNeueLTPro-Roman {
    font-family: 'HelveticaNeueLTPro-Roman'; 
    font-size: 48px;
}
.Merriweather {
    font-family: 'Merriweather';
	font-weight: 300;
	font-style: italic;    
}
.Montserrat-Light {
    font-family: 'Montserrat';
    font-weight: 300;
}
.Montserrat-Regular {
    font-family: 'Montserrat';
    font-weight: 400;
}
.Roboto-Regular {
    font-family: 'Roboto';
    font-weight: 400;
} */

/* SVG TEST
================================================================*/
/* .svg-test {
    border: 1px solid red;
}
.svg-icon {
    display: block;
    width: 30px;
    height: 30px;
    fill: black;
}
.svg-icon:hover {
    fill: red;
} */